<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!-- <h1 class="m-0">Mis Música</h1> -->
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
          <li class="breadcrumb-item active">Interpretes</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Intérpretes</h5>

        <div class="card-tools">
          <button class="btn btn-primary btn-sm" (click)="openNewModal()">Crear Nuevo</button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <td>Nombre</td>
              <!-- <td>Correo Elecrónico</td>
              <td>Estado</td> -->
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of cantantes">
              <td>{{i.name}}</td>
              
              <!-- <td>{{i.email}}</td> -->
              <!-- <td class="text-center">
                <span *ngIf="i.estado == 0" class="badge badge-danger">Deshabilitado</span>
                <span *ngIf="i.estado == 1" class="badge badge-success">Activo</span>
              </td> -->
              <td class="text-center">
                <div class="btn-group">
                  <!-- <ng-container *ngIf="i.estado == 1; else elseTemplate"> -->
                    <button class="btn btn-warning btn-sm" (click)="openModalEdit(i)"><i class="fas fa-edit"></i></button>
                    <!-- <button class="btn btn-danger btn-sm" (click)="removeUser(i.id)"><i class="fas fa-trash-alt"></i></button> -->
                  <!-- </ng-container> -->
                  <!-- <ng-template #elseTemplate>
                    <button class="btn btn-info btn-sm" (click)="habilitarUser(i.id)">Habilitar</button>
                  </ng-template> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        <div class="text-center">
          Desarrollado by Dario
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Modal Nuevo and Editar  -->
<div class="modal fade" id="cantanteModal" tabindex="-1" aria-labelledby="cantanteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUsuarioLabel" *ngIf="!editmode">Nuevo Intérprete</h5>
        <h5 class="modal-title" id="modalUsuarioLabel" *ngIf="editmode">Editar Intérprete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate autocomplete="off" [formGroup]="cantanteForm" (ngSubmit)="!editmode? crear() : update()">
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name" [class.is-invalid]="errors.name" [disabled]="loadingModalCantante">
            <small *ngIf="errors.name" class="text-danger ml-1">{{errors.name}}</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loadingModalCantante">Cancelar</button>
          <button type="submit" class="btn btn-primary" *ngIf="!editmode" [disabled]="loadingModalCantante">Crear</button>
          <button type="submit" class="btn btn-success" *ngIf="editmode" [disabled]="loadingModalCantante">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
