<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Mis Música</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item active">Mi Música</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
<div class="container-fluid">
    
    <div class="card">
    <div class="card-header">
        <h5 class="card-title">Mi Perfil</h5>

        <div class="card-tools">
        
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="text-center" *ngIf="loadingModalUsuario">
        Cargando ... 
      </div>
      <form novalidate autocomplete="off" [formGroup]="usuarioForm" (ngSubmit)="update()" *ngIf="!loadingModalUsuario">
        <!-- <div class="modal-body"> -->
          <div class="form-group">
            <label>Nombres</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name" [class.is-invalid]="errors.name" [disabled]="loadingModalUsuario">
            <small *ngIf="errors.name" class="text-danger ml-1">{{errors.name}}</small>
          </div>
          <div class="form-group">
            <label>Rol</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="role" [class.is-invalid]="errors.role">
          </div>
          <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email" class="form-control" placeholder="email@e-mail.com" formControlName="email" [class.is-invalid]="errors.email" [disabled]="loadingModalUsuario">
            <small *ngIf="errors.email" class="text-danger ml-1">{{errors.email}}</small>
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <br>
            <small>(Si no escribe nada no se modifica la contraseña.)</small>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [class.is-invalid]="errors.password" [disabled]="loadingModalUsuario">
            <small *ngIf="errors.password" class="text-danger ml-1">{{errors.password}}</small>
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-success"  [disabled]="loadingModalUsuario">Actualizar</button>
          </div>
        <!-- </div> -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loadingModalUsuario">Cancelar</button>
          <button type="submit" class="btn btn-primary" *ngIf="!editmode" [disabled]="loadingModalUsuario">Crear</button>
        </div> -->
      </form>
    </div>
    <!-- ./card-body -->
    <div class="card-footer">
        <div class="text-center">
            Desarrollado by Dario Astete 
        </div>
    </div>
    </div>
</div>
</section>