<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!-- <h1 class="m-0">Mis Música</h1> -->
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Usuarios</h5>

        <div class="card-tools">
          <button class="btn btn-primary btn-sm" (click)="openNewModal()">Crear Nuevo</button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <td>Nombre</td>
              <td>Correo Elecrónico</td>
              <td>Estado</td>
              <td>Rol</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of usuarios">
              <td>{{i.name}}</td>
              <td>{{i.email}}</td>
              <td class="text-center">
                <span *ngIf="i.estado == 0" class="badge badge-danger">Deshabilitado</span>
                <span *ngIf="i.estado == 1" class="badge badge-success">Activo</span>
              </td>
              <td>{{i.role}}</td>
              <td class="text-center">
                <div class="btn-group">
                  <ng-container *ngIf="i.estado == 1; else elseTemplate">
                    <button class="btn btn-warning btn-sm" (click)="openModalEdit(i)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="removeUser(i.id)"><i class="fas fa-trash-alt"></i></button>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <button class="btn btn-info btn-sm" (click)="habilitarUser(i.id)">Habilitar</button>
                  </ng-template>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        <div class="text-center">
          Desarrollado by Dario
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUsuarioLabel" *ngIf="!editmode">Nuevo Usuario</h5>
        <h5 class="modal-title" id="modalUsuarioLabel" *ngIf="editmode">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate autocomplete="off" [formGroup]="usuarioForm" (ngSubmit)="!editmode? crear() : update()">
        <div class="modal-body">
          <div class="form-group">
            <label>Nombres</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name" [class.is-invalid]="errors.name" [disabled]="loadingModalUsuario">
            <small *ngIf="errors.name" class="text-danger ml-1">{{errors.name}}</small>
          </div>
          <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email" class="form-control" placeholder="email@e-mail.com" formControlName="email" [class.is-invalid]="errors.email" [disabled]="loadingModalUsuario">
            <small *ngIf="errors.email" class="text-danger ml-1">{{errors.email}}</small>
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <br>
            <small *ngIf="editmode">(Si no escribe nada no se modifica la contraseña.)</small>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [class.is-invalid]="errors.password" [disabled]="loadingModalUsuario">
            <small *ngIf="errors.password" class="text-danger ml-1">{{errors.password}}</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [disabled]="loadingModalUsuario">Cancelar</button>
          <button type="submit" class="btn btn-primary" *ngIf="!editmode" [disabled]="loadingModalUsuario">Crear</button>
          <button type="submit" class="btn btn-success" *ngIf="editmode" [disabled]="loadingModalUsuario">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
