<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!-- <h1 class="m-0">Mis Música</h1> -->
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
          <li class="breadcrumb-item active">Mi Música</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Mi Música</h5>

        <div class="card-tools">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-primary btn-sm" (click)="openModalNuevo()">Subir Nuevo</button>
            <ng-select [items]="meses" class="custom" style="width: 200px !important;"
              class="custom ng-select-bottom ng-select ng-select-single ng-select-searchable ng-select-clearable">
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="mes">
            </ng-select>

          </div>

          <!-- <ng-select [(ngModel)]="mes" style="width: 200px;">
              <ng-option *ngFor="let car of meses" [value]="car.id">{{car.label}}</ng-option>
           </ng-select> -->




        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <td>BPM</td>
              <td>Nombre</td>
              <td>Interprete</td>
              <td>Genero</td>
              <td>Preview</td>
              <!-- <td>Correo Elecrónico</td>
              <td>Estado</td> -->
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of edits">
              <td class="text-center">{{i.bpm}}</td>
              <td >{{i.name}}</td>
              <td class="text-center">{{i.interprete}}</td>
              <td class="text-center">{{i.genero}}</td>
              <td class="text-center" style="width: 100px;">
                <audio controls>
                  <source [src]="i.preview" />
                </audio> 
              </td>
              
              <!-- <td>{{i.email}}</td> -->
              <!-- <td class="text-center">
                <span *ngIf="i.estado == 0" class="badge badge-danger">Deshabilitado</span>
                <span *ngIf="i.estado == 1" class="badge badge-success">Activo</span>
              </td> -->
              <td class="text-center">
                <div class="btn-group">
                  <!-- <ng-container *ngIf="i.estado == 1; else elseTemplate"> -->
                    <button class="btn btn-warning btn-sm" (click)="openModalEdit(i)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-info btn-sm" (click)="downloadFile(i)"><i class="fas fa-download"></i></button>
                    <!-- <button class="btn btn-danger btn-sm" (click)="removeUser(i.id)"><i class="fas fa-trash-alt"></i></button> -->
                  <!-- </ng-container> -->
                  <!-- <ng-template #elseTemplate>
                    <button class="btn btn-info btn-sm" (click)="habilitarUser(i.id)">Habilitar</button>
                  </ng-template> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        <div class="text-center">
          Desarrollado by Dario
        </div>
      </div>
    </div>
  </div>
</section>



<!-- MODAL NUEVO O EDITAR -->
<div class="modal fade" id="modalMusica" tabindex="-1" aria-labelledby="modalMusicaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMusicaLabel" *ngIf="!editmode">Subir nueva música</h5>
        <h5 class="modal-title" id="modalMusicaLabel" *ngIf="editmode">Editar música</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate autocomplete="off" [formGroup]="musicaForm" (ngSubmit)="!editmode? crear() : update()">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombres" formControlName="name"
                  [class.is-invalid]="errors.name" [disabled]="loadingModalMusica">
                <small *ngIf="errors.name" class="text-danger ml-1">{{errors.name}}</small>
              </div>
              <div class="form-group col-md-6">
                <label>BPM</label>
                <input type="number" class="form-control" placeholder="00.00" formControlName="bpm"
                  [class.is-invalid]="errors.bpm" [disabled]="loadingModalMusica">
                <small *ngIf="errors.bpm" class="text-danger ml-1">{{errors.bpm}}</small>
              </div>
              <div class="form-group col-md-6">
                <label>Precio</label>
                <input type="number" class="form-control" placeholder="00.00" formControlName="price"
                  [class.is-invalid]="errors.price" [disabled]="loadingModalMusica">
                <small *ngIf="errors.price" class="text-danger ml-1">{{errors.price}}</small>
              </div>
              <div class="form-group col-md-12">
                <label>Género</label>
                <ng-select [items]="generos" style="width: 100% !important;"
                  class="custom ng-select-bottom ng-select ng-select-single ng-select-searchable ng-select-clearable "
                  bindLabel="name" bindValue="id" placeholder="Seleccione" formControlName="id_gender">
                </ng-select>
                <!-- <input type="text" class="form-control" placeholder="Género" formControlName="email" [class.is-invalid]="errors.id_gender" [disabled]="loadingModalMusica"> -->
                <small *ngIf="errors.id_gender" class="text-danger ml-1">{{errors.id_gender}}</small>
              </div>
              <div class="form-group col-md-12">
                <label>Intérpretes</label>
                <ng-select [items]="cantantes" style="width: 100% !important;"
                  class="custom ng-select-bottom ng-select ng-select-single ng-select-searchable ng-select-clearable "
                  placeholder="Seleccione" bindLabel="name" bindValue="id" formControlName="id_singer">
                </ng-select>
                <!-- <input type="text" class="form-control" placeholder="Género" formControlName="email" [class.is-invalid]="errors.id_gender" [disabled]="loadingModalMusica"> -->
                <small *ngIf="errors.id_gender" class="text-danger ml-1">{{errors.id_gender}}</small>
              </div>
              <div class="form-group col-md-12">
                <label>Preview <small>(.mp3) </small> <small *ngIf="editmode">Solo agregar si desea reemplazar</small></label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" [class.is-invalid]="errors.url_preview" 
                      (change)="selectPreview($event)">
                    <label class="custom-file-label"
                      [class.text-success]="selectFilePreview">{{nameFilePreview}}</label>
                  </div>
                  <!-- <div class="input-group-append">
                      <span class="input-group-text">{{nameFilePreview}}</span>
                    </div> -->
                </div>
                <small *ngIf="errors.url_preview" class="text-danger ml-1">{{errors.url_preview}}</small>
              </div>
              <div class="form-group col-md-12">
                <label>Edit para descarga <small>(.zip) </small> <small *ngIf="editmode">Solo agregar si desea reemplazar</small></label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" [class.is-invalid]="errors.url"
                      (change)="selectEdit($event)">
                    <label class="custom-file-label" [class.text-success]="selectFileEdit">{{nameFileEdit}}</label>
                  </div>
                  <!-- <div class="input-group-append">
                      <span class="input-group-text">{{nameFileEdit}}</span>
                    </div> -->
                </div>
                <small *ngIf="errors.url" class="text-danger ml-1">{{errors.url}}</small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              [disabled]="loadingModalMusica">Cancelar</button>
            <button type="submit" class="btn btn-primary" *ngIf="!editmode"
              [disabled]="loadingModalMusica">Crear</button>
            <button type="submit" class="btn btn-success" *ngIf="editmode"
              [disabled]="loadingModalMusica">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
