<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Mis Música</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item active">Reporte Clientes</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">
      
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Reporte Clientes</h5>

          <div class="card-tools">
            
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="text-center">
              <tr>
                <td>Cliente</td>
                <td>Correo Electrónico</td>
                <td>Fecha y Hora de inscripción</td>
                <td>Estado</td>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="clientes.length > 0; else elseTemplate">
                <tr *ngFor="let i of clientes">
                  <td>{{ i.name }}</td>
                  <td>{{ i.email }}</td>
                  <td class="text-center">{{ i.fecha_inscripcion }}</td>
                  <td class="text-center">
                    <span *ngIf="i.estado == 0">INHABILITADO</span>
                    <span *ngIf="i.estado == 1">ACTIVO</span>
                  </td>
                </tr>
              </ng-container>
              <ng-template #elseTemplate>
                <tr>
                  <td colspan="5" class="text-center"> No se encontraron datos.</td>
                </tr>
              </ng-template>
              
              
            </tbody>
          </table>
        </div>
        <!-- ./card-body -->
        <div class="card-footer">
            <div class="text-center">
                Desarrollado by Dario
            </div>
        </div>
      </div>
    </div>
  </section>